<%- include('header'); -%>

    <div class="box" id="heading">
        <h2>About Us</h2>

    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat ut doloremque dignissimos asperiores in
        corrupti assumenda, natus, atque reiciendis repudiandae eveniet magnam deleniti perferendis soluta error quos
        molestiae. Rerum!</p>
    <%- include('footer') -%>